.main-header-container,
.main-container {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 150vh;
}

body {
  background: #02040f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 50px;
}

[class^="container"] {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 300px;
  justify-content: center;
  align-items: center;
  position: relative;
}

[class^="container"]:nth-child(odd) {
  margin: 0 auto;
}

[class^="container"]:nth-child(even) {
  margin: -60px auto 0 -125px;
}

[class^="container"]:nth-child(odd):not(:first-child) {
  margin: -60px auto 0 0;
}

.slot.top {
  height: 200px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.middle {
  height: 300px;
  width: 250px;
  display: flex;
  gap: 20px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.slot.middle-left {
  height: 100%;
  flex: 1;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}


.slot {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}

.slot[data-swapy-highlighted] {
  background: rgba(255, 255, 255, 0.2);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.item-a {
  background: #10b981;
}

.item-b {
  background: #be123c;
}

.item-c {
  background: #4338ca;
}

.item-d {
  background: #7e22ce;
}

.item-e {
  background: #f59e0b;
}

.item-f {
  background: #ef4444;
}

.item-g {
  background: #06b6d4;
}

.item-h {
  background: #84cc16;
}

.item-i {
  background: #f97316;
}

.item-j {
  background: #8b5cf6;
}

.item-k {
  background: #ec4899;
}

.item-l {
  background: #14b8a6;
}

.item-m {
  background: #f43f5e;
}

.item-n {
  background: #6366f1;
}

.item-o {
  background: #22c55e;
}

.item-p {
  background: #eab308;
}

.item-q {
  background: #a855f7;
}

.item-r {
  background: #0ea5e9;
}

.item-s {
  background: #f59e0b;
}

.item:has(.handle) {
  position: relative;
}

.handle {
  cursor: grab;
  width: 24px;
  height: 24px;
  background-image: url(./handle.svg);
  opacity: 0.5;
  position: absolute;
  top: 14px;
  left: 10px;
}

/* .item[data-swapy-dragging] {
  opacity: 0.8;
} */
